.container {
  background-image: url(./assets/img/bg3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}
.judul {
  font-size: 20px;
  display: inline-block;
  padding: auto;
  margin: auto;
  color: white;
}

.ul1 {
  display: inline-flex;

  margin-left: 83%;
}
.icon1 {
  font-size: 35px;
  display: inline-flex;

  margin-left: 50%;
}

a {
  text-decoration: none;
}

.ul2 {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: normal;
  font-size: 20px;
}

.ul2:hover {
  color: rgb(23, 63, 240);
}

.ul1 li {
  padding-left: 20px;
  list-style: none;
  display: inline-block;
}

body {
  margin: 0%;
}

.nav1 {
  display: inline-block;
  margin-left: 25%;
}

.div1 {
  padding: 150px;
}

/* .nav-main {
  border-bottom: 1px solid black;
} */

.logo {
  display: inline-flex;
  margin-top: 15px;
  /* margin-left: 40px; */
  padding-left: 8%;
}
